<h4>Meals</h4>
<!--<div *ngIf="isFetching" class="spinner-border">-->
<!--  <span class="sr-only">Loading...</span>-->
<!--</div>-->
<ng-container>
  <app-meal-item
    *ngFor="let meal of meals"
    [meal]="meal"
  ></app-meal-item>
</ng-container>
