<div class="row mt-2">
  <div class="col">
    <h4>{{ isEdit ? 'Edit meal' : 'Add meal'}}</h4>
    <form (ngSubmit)="saveMeal()" #f="ngForm">
      <div class="form-group">
<!--        <label for="name">Name</label>-->
<!--        <input-->
<!--          type="text"-->
<!--          name="intakeTime"-->
<!--          id="name"-->
<!--          class="form-control"-->
<!--          ngModel-->
<!--        />-->

        <select name="intakeTime" ngModel>
        <option value="" disabled>Breakfast</option>
        <option *ngFor="let intakeTime of intakeTimes" [ngValue]="intakeTime">
          {{ intakeTime.name }}
        </option>
        </select>
      </div>
      <div class="form-group">
<!--        <label for="description">Description</label>-->
        <textarea
          name="description"
          id="description"
          class="form-control"
          placeholder="Meal description"
          ngModel
        ></textarea>
      </div>
      <div class="form-group">
<!--        <label for="price">Price</label>-->
        <input
          type="number"
          name="calories"
          id="calories"
          class="form-control"
          ngModel
        />
      </div>
<!--      <button type="submit"-->
<!--              class="btn btn-primary"-->
<!--              [disabled]="dishUploading">-->
<!--        <span *ngIf="!dishUploading"-->
<!--        >{{isEdit ? 'Edit' : 'Create'}}</span>-->
<!--        <span *ngIf="dishUploading" class="spinner-border spinner-border-sm">-->
<!--          <span class="sr-only">Loading...</span>-->
<!--        </span>-->
<!--      </button>-->
    </form>
  </div>
</div>
