<div class="card mb-2">
  <div class="row no-gutters">
    <div class="col-sm-8">
      <div class="card-body">
        <h5 class="card-title">{{ meal.intakeTime }}</h5>
        <p class="card-text small">{{ meal.description }}</p>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="card-text">{{ meal.calories }}KGS</p>
      <button class="btn btn-danger"
      >Delete</button>
      <button class="btn btn-primary"
      >Edit</button>
    </div>
  </div>
</div>
